# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.venv
*.egg-info

# Data
data/
*.db
*.log
settings.json
*/settings.yaml
config/settings.yaml



# Editor
.vscode/
.windsurf/
.cursor/

# Environment variables
.env